@import "./global/global.css";
@import "./utilidade/tipografia.css";
@import "./utilidade/cores.css";
@import "./global/header.css";

/*UTILIDADES*/
@import "./utilidade/componentes.css";

/*HOME*/
@import "./home/introducao.css";
@import "./home/tecnologia.css";
@import "./home/parceiros.css";
@import "./home/depoimento.css";

/*BICICLETAS*/
@import "./bicicletas/bicicletas-lista.css";


/*Seguros*/
@import "./seguros/seguros.css";